* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0099ff;
    color: white;
    padding: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: block;
    position: relative;
    float: right;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
}

ul li a:hover {
    background: #617F8A;
}

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
    font-size: 11px;
}

li:hover a {
    background: #617F8A;
}

li:hover li a:hover {
    background: #95A9B1;
}

.premierediv {
    margin-top: 75px;
    margin-left: 50px;
    display: flex;
}

.premierediv img {
    width: 750px;
    height: 500px;
}

.premierediv p {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 75px 50px 50px 50px;
    background-color: #0a3b8a;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

.divague {
    margin-top: 75px;
}

.wave {
    margin-top: -75px;
}

.deuxiemediv {
    background-color: #0099ff;
    display: flex;
}

.deuxiemediv p {
    font-family: 'Montserrat', sans-serif;
    margin: 200px 50px 200px 50px;
    padding: 50px 50px 50px 50px;
    color: white;
    background-color: #104291;
    border-radius: 10px;
}

.deuxiemediv img {
    width: 750px;
    height: 500px;
    margin-top: 75px;
    margin-right: 50px;
}

.troisiemediv {
    text-align: center;
    margin-bottom: 50px;
}

footer {
    background-color: #0099ff;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    text-align: center;
    color: white;
}

#slider {
    position: relative;
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}

.python1{

    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
.python-logos{
    display: flex;
    justify-content: center;


}
.CV{
        min-width: none;
        min-height: none;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 150px;
        box-sizing: border-box;
        height: 120%;
}

.phpmyadmin{
    width: 30%;
    height: 30%;
    margin-top: 50px;
        margin-bottom: 150px;
}
.phpmyadminlogo{
    width: 30%;
    height: 30%;
    margin-top: 50px;
        margin-bottom: 150px;
}
.Htmlcss{
    margin: auto;
    display: flex;
    align-items: center;
}
.div p {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: center;
    margin: 75px 50px 50px 50px;
    background-color: #0a3b8a;
    padding: 50px;
    border-radius: 10px;
    color: white;
}
.centre{
    text-align: center;
}
.site{
    text-align: center;
}
.ecriture{
    font-family: 'Montserrat', sans-serif;
}
.top-left a{
    font-family: 'Montserrat', sans-serif;
    margin: 75px 50px 50px 50px;
    background-color: #0a3b8a;
    padding: 50px;
    border-radius: 10px;
    color: white;
    margin-top: 150px;
}
.top-left{
    align-content: space-between;
    display: flex;
    margin-top:150px;
}
.top-center{
    justify-content: center;
    display: flex;
    margin-top:75px;
}
.top-center a{
    font-family: 'Montserrat', sans-serif;
    margin: 75px 50px 50px 50px;
    background-color: #0a3b8a;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

